<div>
  <strong>{{profile.firstName}}</strong>
  <hr>
  <div class="col-sm-offset-1 col-sm-11">
    {{#bs-form class="form-horizontal"}}
      {{#bs-form-group}}
      <div>
        <label>First Name</label>
        {{bs-input type="text" value=firstName}}
      </div>
      <br>
      <div>
        <label>Birthday</label>
        {{pikaday-input value=birthday format="MM/DD/YYYY" yearRange="1990,currentYear" class="form-control"}}
      </div>
      <br>
      <div>
        <label>Gender</label>
        <div onchange={{action (mut gender) value="target.value"}}>
          {{#each genderOptions as |genderOption|}}
          <label class="radio-inline">
            <input class="radio" type="radio" value={{genderOption}} checked={{eq gender genderOption}}> {{genderOption}}
          </label>
          {{/each}}
        </div>
      </div>
      <br>
      <div>
        <label>Gestational Age at Birth</label>
        <select onchange={{action (mut ageAtBirth) value="target.value"}} class="form-control">
          <option value="" disabled selected hidden>Please Choose...</option>
          {{#each ageAtBirthOptions as |ageAtBirthOption|}}
            <option value={{ageAtBirthOption}} selected={{eq ageAtBirth ageAtBirthOption}}>{{ageAtBirthOption}}</option>
          {{/each}}
        </select>
      </div>
      <br>
      <div class="pull-right">
        <button disabled={{or (not isDirty) (not isValid)}} class="btn btn-success" {{action 'save' profile}}>Save</button>
        <button class="btn btn-danger" {{action 'delete' profile}}>Delete</button>
        <button disabled={{not isDirty}} class="btn btn-default" {{action 'cancel' profile}}>Cancel</button>
      </div>
      {{/bs-form-group}}
    {{/bs-form}}
  </div>
</div>
