<div>
  <strong>{{profile.firstName}}</strong>
  <hr>
  <div class="col-sm-offset-1 col-sm-11">
    {{#bs-form class="form-horizontal"}}
      {{#bs-form-group}}
      <div>
        <label>
           {{#tool-tipster
           title=tooltips.firstName
           triggerEvent="hover"
           position="right"
           }}
           First Name
           <i class="fa fa-info-circle"></i>
           {{/tool-tipster}}
        </label>
        {{bs-input type="text" value=profile.firstName}}
      </div>
      <br>
      <div>
        <label>
          {{#tool-tipster
           title=tooltips.birthday
           triggerEvent="hover"
           position="right"
           }}
           Birthday
           <i class="fa fa-info-circle"></i>
          {{/tool-tipster}}
        </label>
        <div class="input-group">
            {{#if profile.profileId}}
              {{input class="form-control" readonly=true value=(moment-format profile.birthday 'MM/DD/YYYY') }}
              <span class="input-group-addon">{{age profile.birthday hideSuffix=true}} old</span>
            {{else}}
              {{pikaday-input value=profile.birthday format="MM/DD/YYYY" yearRange="1990,currentYear" class="form-control" maxDate=today}}
              <span class="input-group-addon">{{age profile.birthday hideSuffix=true}} old</span>
            {{/if}}
        </div>
      </div>
      <br>
      <div>
        <label>Gender</label>
        <div onchange={{action (mut profile.gender) value="target.value"}}>
          {{#each genderOptions as |genderOption|}}
          <label class="radio-inline">
            <input class="radio" type="radio" value={{genderOption}} checked={{eq profile.gender genderOption}}> {{genderOption}}
          </label>
          {{/each}}
        </div>
      </div>
      <br>
      <div>
        <label>Gestational Age at Birth</label>
        <select onchange={{action (mut profile.ageAtBirth) value="target.value"}} class="form-control">
          <option disabled selected>Please Choose...</option>
          {{#each ageAtBirthOptions as |ageAtBirthOption|}}
            <option value={{ageAtBirthOption}} selected={{eq profile.ageAtBirth ageAtBirthOption}}>{{ageAtBirthOption}}</option>
          {{/each}}
        </select>
      </div>
      <br>
      <div>
        <label>Any additional information you'd like us to know</label>
        <p class="text-muted"><em>for instance, diagnosed developmental disorders or vision or hearing problems</em></p>
        {{textarea value=profile.additionalInformation class="textarea-full"}}
      </div>
      <br>
      {{#if profile.profileId }}
        <button class="btn btn-warning" role="button" {{action 'showDelete'}}>Remove {{profile.firstName}} from account</button>
      {{else}}
        <button class="btn btn-default" role="button" {{action 'cancelAdd'}}>Cancel</button>
      {{/if}}
      <div class="pull-right">
        <button disabled={{or (not isDirty) (not isValid)}} class="btn btn-success" {{action 'save' profile}}>Save</button>
        {{#if profile.profileId }}
          <button disabled={{not isDirty}} class="btn btn-default" {{action 'cancel' profile}}>Cancel</button>
        {{/if}}
      </div>
      {{/bs-form-group}}
    {{/bs-form}}
  </div>
</div>

{{#bs-modal open=deleting footer=false title="Are you sure?"}}
  {{#bs-modal-body}}
    <div class="panel">
      <div class="row">
        <div class="col-md-12">
          You are about to remove {{profile.firstName}}'s profile from your account. This action is irreversible.
        </div>
      </div>
    </div>
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
      <div class="btn-group">
          {{#bs-button click=(action 'showDelete') type="default"}}Cancel{{/bs-button}}
          {{#bs-button type="danger" click=(action 'delete' profile)}}Remove child{{/bs-button}}
      </div>
  {{/bs-modal-footer}}
{{/bs-modal}}
