<div class="row resources-local">
    <div class="col-md-4">
        {{#power-select
        selected=chosenState
        options=usStates
        placeholder="Choose a state"
        onchange=(action "chooseLocation")
        as |chosenState|}}
            {{chosenState}}
        {{/power-select}}
    </div>
    <div class="col-md-8">
        <b>{{chosenState}}</b>
        {{#if nothingToShow}}
            <p>Sorry, we don't know of any child development labs in {{chosenState}} yet!</p>
        {{/if}}
        <ul>

            {{#each labs as |lab|}}
                <li><a href="{{lab.url}}" target="_blank">{{lab.name}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>


