<form class="clearfix" submit={{action "createAccount"}}>
<div>
    <label>Username</label>
    {{input value=username class="form-control" type="text"}}
    <br>
    <label>Email Address</label>
    {{input value=email class="form-control" type="text"}}
    <br>
    <label>Password</label>
    {{input value=password class="form-control" type="password"}}
    <br>
    <div class="pull-right">
        <button disabled={{not maySubmit}} class="btn btn-info" {{action "createAccount"}} >Create new account</button>
    </div>
</div>
</form>
