<form class="clearfix" submit={{action "authenticate"}}>
    <label>Username</label>
    {{input value=username class="form-control" type="text"}}
    <br>
    <label>Password</label>
    {{input value=password class="form-control" type="password"}}
    <br>
    <div class="pull-right">
        <button disabled={{not (and username password)}} class="btn btn-primary" {{action "authenticate"}} >Login</button>
    </div>
</form>
