<div class="row">
  <div class="col-md-4">
    {{session.profileId}}
  </div>
  <div class="col-md-4">
    {{moment-format session.createdOn 'MM/D/YYYY'}}
  </div>
  <div class="col-md-4">
    {{#if session.feedback}}
      <!-- TODO: add seen/unseen to feedbackText based on hasReadFeedback-->
      <a href="#" {{action "toggleFeedback"}}>{{feedbackText}}</a>
        {{#if session.hasReadFeedback}}
            <i class="fa fa-check-circle-o" title="You have seen this feedback"></i>
        {{else}}
            <i class="fa fa-exclamation-circle text-info"  title="You have unread feedback"></i>
        {{/if}}

    {{else}}
      No Feedback
    {{/if}}
  </div>
</div>
{{#if showFeedback}}
  <div class="row">
    <div class="col-md-12">
      <p class="study-feedback-text">{{session.feedback}}</p>
    </div>
  </div>
{{/if}}
