<div class="row">
  <div class="col-md-1">
      {{#if session.feedback}}
          <i class="fa {{if session.hasReadFeedback 'fa-check-circle-o' 'fa-exclamation-circle'}}"></i>
      {{/if}}
  </div>

  <div class="col-md-4">
    {{session.profileId}}
  </div>
  <div class="col-md-4">
    {{moment-format session.createdOn 'MM/D/YYYY'}}
  </div>
  <div class="col-md-3">
    {{#if session.feedback}}
      <!-- TODO: add seen/unseen to feedbackText based on hasReadFeedback-->
      <a href="#" {{action "toggleFeedback"}}>{{feedbackText}}</a>
    {{else}}
      No Feedback
    {{/if}}
  </div>
</div>
{{#if showFeedback}}
  <div class="row">
    <div class="col-md-12">
      <p class="study-feedback-text">{{session.feedback}}</p>
    </div>
  </div>
{{/if}}
