<div class="lookit-row lookit-page-title">
    <div class="container">
        <h2> Participate in "{{model.experiment.title}}" {{link-to  "Back to list" 'studies' class="btn btn-lg btn-primary pull-right"}}</h2>
    </div>
</div>
<div class="lookit-row study-detail-row">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-xs-12">
            {{#if model.experiment.thumbnail}}
              <img class="study-detail-thumbnail" src="{{model.experiment.thumbnail.raw}}" />
            {{else}}
            <div class="study-detail-placeholder">
              <i class="fa fa-picture-o "></i>
            </div>
            {{/if}}
          </div>
        </div>

        <div class="study-detail-info row">
          <div class="col-md-9">
            <p class="study-detail-caption"> Thank you for your interest in this study. We will help you learn more about the study and set up on your computer. </p>
            <p>
              <strong>Eligibility criteria:</strong>
              {{model.experiment.eligibilityCriteria}}
            </p>
            <p>
              <strong>Duration: </strong>
              {{model.experiment.duration}}
            </p>
            <p>
              <strong>What happens: </strong>
              {{model.experiment.whatHappens}}
            </p>
            <p>
              <strong>What are we studying?: </strong>
              {{model.experiment.purpose}}
            </p>
          </div>
          <div class="col-md-3">
            {{#if (not model.account) }}
              {{link-to 'Log in to participate' 'login' class="btn btn-lg btn-default"}}
            {{else if (not model.account.profiles)}}
              {{link-to 'Add child profile to participate' 'my.children' class="btn btn-lg btn-default"}}
            {{else if (not model.account.hasCompletedSurvey) }}
              {{link-to 'Complete demographic survey to participate' 'my.demographics' class="btn btn-lg btn-default"}}
            {{else}}
              <div class="form-group">
                <label>Select a child:</label>
                <select onchange={{action (mut selectedChildId) value="target.value"}} >
                  <option value="">None Selected</option>
                  {{#each model.account.profiles as |child|}}
                  <option value={{child.profileId}} >{{child.firstName}}</option>
                  {{/each}}
                </select>
              </div>
              <button disabled={{if (not selectedChildId) true false}} class="btn btn-lg btn-primary {{if (not selectedChildId) 'disabled'}}" onclick={{action 'pickChild'}}>Participate now!</button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>