<div class="lookit-row lookit-page-title">
    <div class="container">
        <h2> Participate in "{{model.title}}" {{link-to  "Back to list" 'studies' class="btn btn-lg btn-primary pull-right"}}</h2>
    </div>
</div>
<div class="lookit-row study-detail-row">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-xs-12">
            <img class="study-detail-thumbnail" src="{{model.thumbnail.raw}}" />
          </div>
        </div>

        <div class="row" class="study-detail-info row">
          <div class="col-md-9">
            <p class="study-detail-caption"> Thank you for your interest in this study. We will help you learn more about the study and set up on your computer. </p>
            <p>
              <strong>Eligibility criteria:</strong>
              {{model.eligibilityCriteria}}
            </p>
            <p>
              <strong>Duration: </strong>
              {{model.duration}}
            </p>
            <p>
              <strong>What happens: </strong>
              {{model.whatHappens}}
            </p>
            <p>
              <strong>What are we studying?: </strong>
              {{model.purpose}}
            </p>
          </div>
          <div class="col-md-3">
            {{link-to "Participate now!" 'participate' model.id class="btn btn-primary btn-lg"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>