<div>
{{#bs-accordion}}
    {{#each model.profiles as |profile|}}
        {{#bs-accordion-item title=profile.firstName}}

            {{#if isEditing}}

                <div>
                    {{#bs-form}}
                        {{#bs-form-group}}
                            <div>
                                <label>First Name</label>
                                {{bs-input type="text" value=profile.firstName}}
                            </div>
                            <br>
                            <div class="form-inline">
                                <label>Birthday</label>
                                {{pikaday-input value=profile.birthday format="MM/DD/YYYY" yearRange="1990,currentYear" class="form-control"}}
                            </div>
                            <br>
                            <button class="btn btn-default" {{action 'editProfile' profile}}>Submit</button>
                            <button class="btn btn-default" {{action 'edit'}}>Cancel</button>
                        {{/bs-form-group}}
                    {{/bs-form}}
                </div>

            {{else}}

                <div>
                    <div>
                        <p>Name: {{profile.firstName}}</p>
                    </div>
                    <div class="form-inline">
                        <label>Birthday</label>
                        {{pikaday-input value=profile.birthday format="MM/DD/YYYY" disabled=true class="form-control"}}
                    </div>
                    <br>
                    <button class="btn btn-default" {{action 'edit'}}>Edit information</button>
                </div>

            {{/if}}

        {{/bs-accordion-item}}
    {{/each}}

    {{#bs-accordion-item title="Add a new participant"}}
        <div>

            {{#bs-form}}
                {{#bs-form-group}}
                    <div>
                        <label>First Name</label>
                        {{bs-input type="text" value=newFirstName}}
                    </div>
                    <br>
                    <div class="form-inline">
                        <label>Birthday</label>
                        {{pikaday-input value=newBirthday format="MM/DD/YYYY" yearRange="1990,currentYear" class="form-control"}}
                    </div>
                    <br>
                    <button class="btn btn-default" {{action 'createProfile'}}>Create Profile</button>
                {{/bs-form-group}}
            {{/bs-form}}

        </div>
    {{/bs-accordion-item}}
{{/bs-accordion}}
</div>
