<div>
  <a href="#addNewParticipant" data-toggle="collapse">Add a new participant</a>
  <div id="addNewParticipant" class="collapse">
    <hr>
    {{#bs-form}}
      {{#bs-form-group}}
      <div>
        <label>First Name</label>
        {{bs-input type="text" value=newFirstName}}
      </div>
      <br>
      <div>
        <label>Birthday</label>
        {{pikaday-input value=newBirthday format="MM/DD/YYYY" yearRange="1990,currentYear" class="form-control"}}
      </div>
      <br>
      <div class="pull-right">
        <button class="btn btn-success" data-toggle="collapse" data-target="#addNewParticipant" {{action 'createProfile'}}>Create Profile</button>
        <button class="btn btn-default" data-toggle="collapse" data-target="#addNewParticipant" {{action 'cancel'}}>Cancel</button>
      </div>
      {{/bs-form-group}}
    {{/bs-form}}
  </div>
  {{#each model.profiles as |profile|}}
    {{edit-profile profile=profile model=model}}
  {{/each}}
</div>
