<div>
  <a href="#addNewParticipant" data-toggle="collapse">Add a new participant</a>
  <div id="addNewParticipant" class="collapse">
    <hr>
    {{#bs-form}}
      {{#bs-form-group}}
      <div>
        <label>First Name</label>
        {{bs-input type="text" value=newFirstName}}
      </div>
      <br>
      <div>
        <label>Birthday</label>
        {{pikaday-input value=newBirthday format="MM/DD/YYYY" yearRange="1990,currentYear" class="form-control"}}
      </div>
      <br>
      <div class="pull-right">
        <button class="btn btn-success" data-toggle="collapse" data-target="#addNewParticipant" {{action 'createProfile'}}>Create Profile</button>
        <button class="btn btn-default" {{action 'cancel'}}>Cancel</button>
      </div>
      {{/bs-form-group}}
    {{/bs-form}}
  </div>
  {{#each model.profiles as |profile|}}
    <div>
      <strong>{{profile.firstName}}</strong>
      <hr>
      <div class="col-sm-offset-1 col-sm-11">
        {{#bs-form class="form-horizontal"}}
          {{#bs-form-group}}
          <div>
            <label>First Name</label>
            {{bs-input type="text" class="required" value=profile.firstName}}
          </div>
          <br>
          <div>
            <label>Birthday</label>
            {{pikaday-input value=profile.birthday format="MM/DD/YYYY" yearRange="1990,currentYear" class="form-control"}}
          </div>
          <br>
          <div class="pull-right">
            <button class="btn btn-success" {{action 'save' profile}}>Save</button>
            <button class="btn btn-danger" {{action 'delete' profile}}>Delete</button>
            <button class="btn btn-default" {{action 'cancel'}}>Cancel</button>
          </div>
          {{/bs-form-group}}
        {{/bs-form}}
      </div>
    </div>
  {{/each}}
</div>
