<div>
  <div>
    One reason we are developing Internet-based experiments is to represent a more
    diverse group of families in our research. Your answers to these questions will help
    us understand what audience we reach and how factors like speaking multiple languages or
    having older siblings affect children's learning.
    {{#bs-form}}
      {{#bs-form-group}}
        <label>What language(s) does your family speak at home?</label>
        {{bs-input type="text" value=model.demographicsLanguagesSpokenAtHome}}
      {{/bs-form-group}}
      {{#bs-form-group}}
        <label>How many children do you have?</label>
        <select onchange={{action (mut model.demographicsNumberOfChildren) value="target.value"}}
          class="form-control">
          <option value="" disabled selected hidden>Please Choose...</option>
          {{#each childrenCounts as |childrenCount|}}
          <option value={{childrenCount}} selected={{eq model.demographicsNumberOfChildren childrenCount}}>{{childrenCount}}</option>
          {{/each}}
        </select>
        {{#if (eq model.demographicsNumberOfChildren 'More than 10')}}
        <br>
        <div class="form-inline">
          <label>I have {{bs-input class="form-control" type="text" value=nNumberOfChildren}} children</label>
        </div>
        {{/if}}
      {{/bs-form-group}}
      {{#if (not (eq numberOfChildren 0))}}
      {{#bs-form-group}}
        <label>For each child, please enter his or her birthdate below:</label>
        {{#each-in childBirthdays as |index bd|}}
        <div class="form-inline">
          <div class="row">
            <div class="col-xs-1">
              <label>{{minus index -1}}.</Label>
            </div>
            <div class="col-xs-11">
              <div class="input-group">
                {{pikaday-input value=(unbound bd) onPikadaySelect=(action 'setChildBirthday' index) format="MM/DD/YYYY" yearRange="1990,currentYear" maxDate=today class="form-control"}}
                <span class="input-group-addon">
                  {{#if bd}}
                    {{moment-from-now (unbound bd) hideSuffix=true}} old
                  {{/if}}
                </span>
              </div>
            </div>
          </div>
        </div>
        {{/each-in}}
      {{/bs-form-group}}
      {{/if}}
      {{#bs-form-group}}
        <label>How many parents/guardians do your children live with?</label>
        <br />If the answer varies due to shared custody arrangements or travel,
        please enter the number of parents/guardians your children are usually
        living with or explain below.
        <select onchange={{action (mut model.demographicsNumberOfGuardians) value="target.value"}}
          class="form-control">
          <option value="" disabled selected hidden>Please Choose...</option>
          {{#each guardianOptions as |guardianOption|}}
          <option value={{guardianOption}} selected={{eq model.demographicsNumberOfGuardians guardianOption}}>{{guardianOption}}</option>
          {{/each}}
        </select>
        {{#if (eq model.demographicsNumberOfGuardians "varies")}}
        <div class="col-md-12">
          <label>Additional information:</label>
          {{bs-input type="text" value=model.demographicsNumberOfGuardiansExplanation}}
        </div>
        {{/if}}
      {{/bs-form-group}}
      {{#bs-form-group}}
        <label>What category(ies) does your family identify as?</label>
        <div onchange={{action 'selectRaceIdentification' value='target'}} id="raceIdentification">
            {{#each raceCategories as |raceCategory|}}
              <label class="checkbox">
            <input type="checkbox" value={{raceCategory}} checked={{include model.demographicsRaceIdentification raceCategory}}> {{raceCategory}}
          </label>
          {{/each}}
        </div>
      {{/bs-form-group}}
      {{#bs-form-group}}
        <label>What is your age?</label>
        <select onchange={{action (mut model.demographicsAge) value="target.value"}} class="form-control" >
          <option value="" disabled selected hidden>Please Choose...</option>
          {{#each ageChoices as |ageChoice|}}
          <option value={{ageChoice}} selected={{eq model.demographicsAge ageChoice}}>{{ageChoice}}</option>
          {{/each}}
        </select>
      {{/bs-form-group}}
      {{#bs-form-group}}
        <label>What is your gender?</label>
        <select onchange={{action (mut model.demographicsGender) value="target.value"}} class="form-control" >
          <option value="" disabled selected hidden>Please Choose...</option>
          {{#each genderOptions as |genderOption|}}
          <option value={{genderOption}} selected={{eq model.demographicsGender genderOption}}>{{genderOption}}</option>
          {{/each}}
        </select>
      {{/bs-form-group}}
      {{#bs-form-group}}
        <label>What is the highest level of education you've completed?</label>
        <select onchange={{action (mut model.demographicsEducationLevel) value="target.value"}} class="form-control" >
          <option value="" disabled selected hidden>Please Choose...</option>
          {{#each educationOptions as |educationOption|}}
          <option value={{educationOption}} selected={{eq model.demographicsEducationLevel educationOption}}>{{educationOption}}</option>
          {{/each}}
        </select>
      {{/bs-form-group}}
      {{#bs-form-group}}
        <label>What is the highest level of education your spouse has completed?</label>
        <select onchange={{action (mut model.demographicsSpouseEducationLevel) value="target.value"}} class="form-control" >
          <option value="" disabled selected hidden>Please Choose...</option>
          {{#each spouseEducationOptions as |spouseEducationOption|}}
          <option value={{spouseEducationOption}} selected={{eq model.demographicsSpouseEducationLevel spouseEducationOption}}>{{spouseEducationOption}}</option>
          {{/each}}
        </select>
      {{/bs-form-group}}
      {{#bs-form-group}}
        <label>What is your approximate family yearly income?</label>
        <select onchange={{action (mut model.demographicsAnnualIncome) value="target.value"}} class="form-control" >
          <option value="" disabled selected hidden>Please Choose...</option>
          {{#each annualIncomeOptions as |annualIncomeOption|}}
          <option value={{annualIncomeOption}} selected={{eq model.demographicsAnnualIncome annualIncomeOption}}>{{annualIncomeOption}}</option>
          {{/each}}
        </select>
      {{/bs-form-group}}
      {{#bs-form-group}}
        <label>About how many children's books are there in your home?</label>
        {{bs-input type="number" value=model.demographicsNumberOfBooks min=0}}
	{{#if (not (gte model.demographicsNumberOfBooks 0)) }}
	  <span class="text-danger">Please enter a value greater than or equal to zero</span>
	{{/if}}
      {{/bs-form-group}}
      {{#bs-form-group}}
        <label>Anything else you'd like us to know?</label>
        {{bs-textarea value=model.demographicsAdditionalComments}}
      {{/bs-form-group}}
      <br />
      {{#bs-button type="success" action="saveDemographicsPreferences" disabled=(not isValid)}}Save{{/bs-button}}
    {{/bs-form}}
  </div>
</div>
