{{#if suppressions}}
<div>
  <div>
    <p>I would like to be contacted when:</p>
    <br>
    {{#bs-form}}
      {{#bs-form-group}}
	{{#each suppressions as |group|}}
	  {{#if (not (eq group.attr 'optOut'))}}
	    {{
              bs-form-element controlType="checkbox"
              value=group.subscribed
              label=group.description
              }}
	  {{else}}
	    <hr>
            <div class="form-inline">
              <div class="form-group">
		<label>
		  {{group.description}}&nbsp;&nbsp;&nbsp; {{input type="checkbox" checked=group.subscribed}}
		</label>
              </div>
            </div>
	  {{/if}}
	{{/each}}
	<br>
	  {{#if canSave}}
            {{#bs-button type="success" action=(action 'saveEmailPreferences')}}
              Save
            {{/bs-button}}
	  {{else}}
	    {{#bs-button class="disabled" type="success" disabled=true}}
	      Saving
	    {{/bs-button}}
	  {{/if}}
      {{/bs-form-group}}
    {{/bs-form}}
  </div>
</div>
{{else}}
<div>
  <p> Loading notification preferences... </p>
</div>
{{/if}}
