<h4>Account Information</h4>
<br>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
        {{input value=model.username class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Contact Name</label>
    <div class="col-sm-10">
        {{input value=model.name class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
        {{input value=model.email class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
        <div class="pull-right">
            <button disabled={{not model.hasDirtyAttributes}} {{action 'save'}} class="btn btn-success">Save</button>
            &nbsp;
            <button disabled={{not model.hasDirtyAttributes}} {{action 'cancel'}} class="btn btn-default">Cancel</button>
        </div>
    </div>
  </div>
</form>


<hr>

<br>
<h4>Change Your Password</h4>
<br>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Old Password</label>
    <div class="col-sm-10">
        {{input value=oldPass type="password" class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">New Password</label>
    <div class="col-sm-10">
        {{input value=newPass type="password" class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Confirm Password</label>
    <div class="col-sm-10">
        {{input value=confirmPass type="password" class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
        {{#if _error}}
            <p class="text-danger">{{_error}}</p>
        {{else}}
            {{#unless passMatch}}
                <p class="text-danger">Passwords must match</p>
            {{/unless}}
        {{/if}}
    </div>
    <div class="col-sm-4">
        <div class="pull-right">
            <button disabled={{not canUpdate}} {{action 'updatePassword'}} class="btn btn-success">Update</button>
        </div>
    </div>
  </div>
</form>
