<div class="container">
    <br><br><br>
    <h2>My Account</h2>

    <!--It doesn't appear that there is an ember-bootstrap tab component-->
    {{#ivy-tabs}}
          {{#ivy-tab-list}}
            {{#ivy-tab}}(This is an unstyled tab! Click me) Account Information{{/ivy-tab}}
            {{#ivy-tab}}(Unstyled tab) Children Information{{/ivy-tab}}
          {{/ivy-tab-list}}
    
          {{#ivy-tab-panel}}
            <p>Account information tab.</p>
          {{/ivy-tab-panel}}
    
          {{#ivy-tab-panel}}
    
            <div>
            {{#bs-accordion}}
                {{#each model.profiles as |profile|}}
                {{#bs-accordion-item title=profile.firstName}}
                    
                    {{#if isEditing}}
                        
                        <div>
                            {{#bs-form}}
                                {{#bs-form-group}}
                                    <div>
                                        <label>First Name</label>
                                        {{bs-input type="text" value=editFirstName}}
                                    </div>
                                    <div>
                                        <label>Last Name</label>
                                        {{bs-input type="text" value=editLastName}}
                                    </div>
                                    <div>
                                        <label>Birthday</label>
                                        {{bs-input type="text" value=editBirthday}}
                                    </div>
                                    <br>
                                    <button {{action 'editProfile' profile}}>Submit</button>
                                {{/bs-form-group}}
                            {{/bs-form}}
                        </div>
                
                    {{else}}
                
                    <div>
                        <div>
                            <p>Name: {{profile.firstName}} {{profile.lastName}}</p>
                        </div>
                        <div>
                            <p>Birthday: {{profile.birthday}}</p>
                        </div>
                            
                        <button {{action 'edit'}}>Edit information</button>
                    </div>
                
                    {{/if}}
                
                {{/bs-accordion-item}}
                {{/each}}
                
                {{#bs-accordion-item title="Add a new participant"}}
                <div>
                    
                    {{#bs-form}}
                        {{#bs-form-group}}
                            <div>
                                <label>First Name</label>
                                {{bs-input type="text" value=newFirstName}}
                            </div>
                            <div>
                                <label>Last Name</label>
                                {{bs-input type="text" value=newLastName}}
                            </div>
                            <div>
                                <label>Birthday</label>
                                {{bs-input type="text" value=newBirthday}}
                            </div>
                            <br>
                            <button {{action 'createProfile'}}>Create Profile</button>
                        {{/bs-form-group}}
                    {{/bs-form}}
                    
    
                </div>
                {{/bs-accordion-item}}
            {{/bs-accordion}}
            </div>
    
          {{/ivy-tab-panel}}
    
    {{/ivy-tabs}}
    
</div>